.tree-table {
    border: solid black 1px;
    
}

thead {
    background-color: silver;
}
.error {
    color:red;
}

table {
    margin-top: 10px;
}

body {
    padding: 30px;
}

.plus {
    color: green;
    padding: 0 2px;
    dheight: 16px;
}
.minus {
    color: red;
    padding: 0 2px;
    dheight: 16px;
}

h3 { margin: 0; }

.tree {
    margin-top:15px;
}

.trees {
    width:100%;
}

td { vertical-align: top}
